input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-slider {
  width: 400px;
}

md-slider .md-track-ticks canvas {
  height: 60px;
}

body {
background-color: #251D3A;
}
div.all {

  padding: 100px;
}
h1 {
  color: #FF7700;
}
h2 {
  color: #FF7700;
}

mat-expansion-panel {
  margin: 1px;
  color:#2A2550;
  background-color: #FF7700;
}

mat-expansion-panel-header {
  background-color: #2A2550;
}

mat-panel-title {
color: #E04D01;
background-color: #2A2550;
}

p.slider {
  text-align: center;
  color:#FF7700;
  font-size: 35px;
}
p.comment {
  color: #FF7700;
  alignment: center;
}
 textarea {
color: #E04D01;
background-color: #2b487a;
 }

 button {
   color:#2A2550;
   background-color: #FF7700;
   margin-top: 10px;
 }

 div.centered{
   flex-direction: column;
   display: flex;
   justify-content: center;
   padding-top:20px;
 }
